<footer class="bg-dark pt-10 pb-8">
    <div class="container">
        <!-- Contact us -->
        <!-- Container will run into styling issue. so, we need to give another class-->
        <div class="border-bottom border-white-10 pb-7">
            <!-- need div fixed element -->
            <div class="col-12 col-md-8 col-lg-10 d-flex mx-auto flex-column align-items-center justify-content-center">
                <!-- flex-column caused this both underneath together. -->
                <!-- fw : font weight -->
                <h2 class="text-white fs-1 fw-bolder text-center">Explore our range of high-performance forklifts for
                    sale and discover
                    comprehensive service
                    solutions. Elevate your material handling operations with our reliable equipment and expert
                    maintenance
                    services.
                    Contact us for personalized assistance and optimize your warehouse efficiency today.</h2>
                <a class="btn btn-danger text-white mt-3 w-100 w-md-auto " href="#" role="button">Contact Us for Solutions</a>
                <!-- When doing testing on responsive, w-100 and w-md-auto is type of pattern -->
            </div>
        </div>
    </div>


    <!-- Footer logo and socials -->
    <div class="container pt-7">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
            <!-- Footer Logo -->
            <a href="#" class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0">
                <span class="d-flex text-success me-2">
                    <img src="/img/logo/logo.png" alt="" class="f-w-12"><span class="footer-logo-span text-white">egional</span>
                </span>
            </a>

            <!-- Footer social -->
            <ul class="list-unstyled d-flex align-items-center justify-content-end">
                <li class=""><a class="text-white text-decoration-none opaciy-50-hover" href="#"><i class="ri-facebook-circle-line ri-lg"></i></a></li>
                <!-- <li class="ms-5"><a class="text-white text-decoration-none opaciy-50-hover" href="#"><i class="ri-twitter-line ri-lg"></i></a></li> -->
                <li class="ms-4"><a class="text-white text-decoration-none opaciy-50-hover" href="#"><i class="ri-instagram-line ri-lg"></i></a></li>
                <!-- <li class="ms-5"><a class="text-white text-decoration-none opaciy-50-hover" href="#"><i class="ri-snapchat-line ri-lg"></i></a></li> -->
            </ul>

        </div>
    </div>


    <!-- Use _bootstrap-api-utilities.scss to edit this container -->
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between mt-5 mt-lg-7">

            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0 border-end border-white-10 pe-4">
                <h6 class="footer-heading">Regional Industrial Concepts Sdn. Bhd.</h6>
                <span class="d-block footer-heading custom-negative-margin">(624713-k)</span>
                <ul class="footer-nav list-unstyled">
                    <li class="li-contact mb-3">
                        <i class="ri-home-8-line d-flex align-items-center i-icon">
                            <span class="i-title">Address</span>
                        </i>
                        <a href="#">24,Lintang Fettes,Tanjong Bungah, 11200, Penang,<br> Malaysia.</a>
                    </li>
                    <li class="li-contact mb-3">
                        <i class="ri-mail-line d-flex align-items-center i-icon text-white">
                            <span class="i-title">Email</span>
                        </i>
                        <a href="#">ricforklift@yahoo.com</a>
                    </li>
                    <li class="li-contact mb-3">
                        <i class="ri-smartphone-line d-flex align-items-center i-icon text-white">
                            <span class="i-title">Mobile</span>
                        </i>
                        <a href="#">016-419 1149</a>
                    </li>
                </ul>
            </div>

            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="footer-heading">Models</h6>
                <ul class="footer-nav list-unstyled">
                    <li><a href="#">All Models <span class="badge text-bg-success">Useful</span></a></li>
                    <li><a href="#">Electric Forklifts</a></li>
                    <li><a href="#">Pallet Jacks</a></li>
                    <li><a href="#">Reach Truck</a></li>
                </ul>
            </div>
    
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="footer-heading">Battery</h6>
                <ul class="footer-nav list-unstyled">
                    <li><a href="#">Battery Maintenance</a></li>
                    <li><a href="#">Battery Types <span class="badge text-bg-success">Useful</span></a></li>
                    <li><a href="#">Battery Replacement</a></li>
                </ul>
            </div>
    
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="footer-heading">Charger</h6>
                <ul class="footer-nav list-unstyled">
                    <li><a href="#">Charing Tips <span class="badge text-bg-success">Useful</span></a></li>
                    <li><a href="#">Charger Types</a></li>
                    <li><a href="#">Charger Safety</a></li>
                </ul>
            </div>
    
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="footer-heading">Legals</h6>
                <ul class="footer-nav list-unstyled">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Cookie policy</a></li>
                    <li><a href="#">Refund policy</a></li>
                    <li><a href="#">GDPR information</a></li>
                    <li><a href="#">Company legals</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <!-- Footer Bottom -->
    <div class="container">
        <div class="border-top pt-6 mt-7 border-white-10 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span class="small text-white opacity-75 mb-2 mb-md-0">All rights reserved &copy Regional Industrial Concepts 2023</span>
            <span class="small text-white opacity-75">Terms of service | Security policy</span>
        </div>
    </div>
</footer>


